<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1 class="mb-4">{{person.forenames}} {{person.surname}}</h1>
      {{form.value | json}}
      {{form.status | json}}
    </div>
    <div class="col-sm-8">
      <div class="alert alert-info" *ngIf="">
        <strong>Information: </strong>You have made changes. Any unsaved changes will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <i class="fa fa-user fa-5x text-center pt-3"></i>
        <div class="card-body">
          <div>
            <strong>Location: </strong>
            <p>{{person.roomName}}</p>
          </div>
          <div>
            <strong>Start and end date: </strong>
            <p>{{person.startDate | date: 'dd/MM/yyyy'}}</p>
            <p>{{person.endDate | date: 'dd/MM/yyyy'}}</p>
          </div>
          <div>
            <strong>Status:</strong>
            <p>{{person.statusName}}</p>
          </div>
          <div *ngIf="person.supervisorId">
            <strong>Supervisor:</strong>
            <p>{{person.supervisorForenames}} {{person.supervisorSurname}}</p>
          </div>
          <div *ngIf="person.managerId">
            <strong>Manager:</strong>
            <p>{{person.managerForenames}} {{person.managerSurname}}</p>
          </div>
          <div *ngIf="person.groupId">
            <strong>Area:</strong>
            <p>{{person.groupNames}}</p>
          </div>


        </div>

        <div class="card-footer">
          <!-- <button class="btn btn-success btn-block" [disabled]="form.pristine || form.invalid" type="submit" (click)="">Save
            Changes</button> -->
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Person">

            <!-- <form [formGroup]="form" id="editForm" (ngSubmit)="" novalidate>

              <h4 class="p-2">Description</h4>
              <textarea name="description" rows="6" class="form-control" formControlName="description"></textarea>

              <h4 class="p-2">Update location:</h4>

              <div class="form-group">
                <label for="location"></label>
                <ng-select id="location" formControlName="location" [items]="this.rooms" [virtualScroll]="true"
                  bindLabel="name" bindValue="id" placeholder="Select room">
                </ng-select>

                <div *ngIf="form.controls['location'].errors && !form.controls['location'].pristine" class="error-msg">
                  <div class="alert alert-danger" role="alert" [hidden]="!form.controls['location'].errors.required">Please
                    select a location.
                  </div>
                </div>

              </div>
            </form> -->

          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
