aniso8601==4.0.1
atomicwrites==1.3.0
attrs==19.1.0
Click==7.0
coverage==4.5.3
Flask==1.0.2
Flask-Cors==3.0.7
Flask-HTTPAuth==3.2.4
Flask-RESTful==0.3.6
gunicorn==19.9.0
inflect==2.1.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==6.0.0
nose2==0.8.0
pathlib2==2.3.3
pluggy==0.9.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
py==1.8.0
pytest==4.3.0
python-dotenv==0.10.1
pytz==2018.7
six==1.11.0
Werkzeug==0.14.1
