<div class="container mt-4">
	<div class="row">
		<h1>Pavillion {{this.pav_letter}}</h1>
	</div>
	<div class="row">

		<div class="">
			<div class="tab-panel">
				<tabset class="member-tabset">
					<tab heading="Lower Ground Floor">
						<div class="row">
							<div *ngFor="let room of rooms">
								<div></div>
								<app-room-details *ngIf="room.room_number.includes('L')"
									class="col-lg-2 col-md-3 col-sm-6" [room]="room">
								</app-room-details>
							</div>
						</div>
					</tab>
					<tab heading="Ground Floor">
						<!-- Ground Floor -->
						<div *ngIf="pav_letter==='D'; else pavC">
							<app-pav-d-groundfloor *ngIf="rooms" [rooms]="rooms" [pav_letter]="pav_letter">
							</app-pav-d-groundfloor>
						</div>

						<ng-template #pavC>
							<app-groundfloor *ngIf="rooms" [rooms]="rooms" [pav_letter]="pav_letter"></app-groundfloor>
						</ng-template>
					</tab>

					<tab heading="First Floor">
						<!-- First Floor -->
						<div *ngIf="pav_letter==='D' || pav_letter==='H'; else pavCFirst">
							<app-pav-d-firstfloor *ngIf="rooms" [rooms]="rooms" [pav_letter]="pav_letter">
							</app-pav-d-firstfloor>
						</div>
						<ng-template #pavCFirst>
							<app-firstfloor *ngIf="rooms" [rooms]="rooms" [pav_letter]="pav_letter"></app-firstfloor>
						</ng-template>
					</tab>

					<tab heading="Second Floor">
						<!-- Second Floor -->
						<app-secondfloor *ngIf="rooms" [rooms]="rooms" [pav_letter]="pav_letter"></app-secondfloor>

					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>