<div class="container mt-4">
	<div class="row">
		<h1>Pavillion {{this.pav_letter}}</h1>
	</div>
	<div class="row">

		<div class="">
			<div class="tab-panel">
				<tabset class="member-tabset" #pavillionTabs>
					<tab heading="Lower Ground Floor" id="0" (select)="onSelect($event)">
						<div class="row">
							<div *ngFor="let room of rooms">
								<div></div>
								<app-room-details *ngIf="room.room_number.includes('L')"
									class="col-lg-2 col-md-3 col-sm-6" [room]="room">
								</app-room-details>
							</div>
						</div>
					</tab>
					<tab heading="Ground Floor" id="1" (select)="onSelect($event)">
						<!-- Ground Floor -->
						<div *ngIf="pav_letter==='B'">

						</div>
						<div *ngIf="pav_letter==='D'; else pavC">
							<app-pav-d-groundfloor *ngIf="rooms" [rooms]="rooms" [pav_letter]="pav_letter">
							</app-pav-d-groundfloor>
						</div>

						<ng-template #pavC *ngIf="pav_letter==='C'; else pavB">
							<app-groundfloor *ngIf="rooms" [rooms]="rooms" [pav_letter]="pav_letter">
							</app-groundfloor>
						</ng-template>

						<ng-template #pavB>
							<app-pav-b-groundfloor *ngIf="rooms" [rooms]="rooms" [pav_letter]="pav_letter">
							</app-pav-b-groundfloor>
						</ng-template>
					</tab>

					<tab heading="First Floor" id="2" (select)="onSelect($event)">
						<!-- First Floor -->
						<div *ngIf="pav_letter==='D' || pav_letter==='H'; else pavCFirst">
							<app-pav-d-firstfloor *ngIf="rooms" [rooms]="rooms" [pav_letter]="pav_letter">
							</app-pav-d-firstfloor>
						</div>
						<ng-template #pavCFirst>
							<app-firstfloor *ngIf="rooms" [rooms]="rooms" [pav_letter]="pav_letter"></app-firstfloor>
						</ng-template>
					</tab>

					<tab heading="Second Floor" id="3" (select)="onSelect($event)">
						<!-- Second Floor -->
						<app-secondfloor *ngIf="rooms && floor_id" [rooms]="rooms" [pav_letter]="pav_letter">
						</app-secondfloor>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
	<app-persons-table *ngIf="pav_letter" [pav_letter]="pav_letter" [floor_id]="floor_id"></app-persons-table>
	<br>
	<br>
	<br>
</div>