<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1 class="mb-4">{{room.name}} </h1>
    </div>
    <div class="col-sm-8">
      <div class="alert alert-info" *ngIf="form.dirty">
        <strong>Information: </strong>You have made changes. Any unsaved changes will be lost!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <i class="fas fa-door-open fa-5x text-center pt-3"></i>
        <div class="card-body">
          <div>
            <strong>Notes: </strong>
            <p>{{room.notes}}</p>
          </div>
          <div>
            <strong>Max capacity: </strong>
            <p>{{room.maxCapacity}}</p>
          </div>
          <div>
            <strong>Number of people:</strong>
            <p>{{room.numberOfPeople}}</p>
          </div>
          <div>
            <strong>Number of computers:</strong>
            <p>{{room.numberOfComputers}}</p>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success btn-block" [disabled]="form.pristine || form.invalid" type="submit" (click)="updateRoom()">Save
            Changes</button>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Content">

            <div class="container mt-4">
              <div class="row">
                <div *ngFor="let computer of computers" class="mr-3">
                  <app-computer-details [computer]="computer"></app-computer-details>
                </div>
                <div *ngFor="let person of persons" class="mr-3">
                  <app-person-details [person]="person"></app-person-details>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Edit room">
            <!-- {{form.value | json}}
            {{form.status | json}} -->
            <form [formGroup]="form" id="editForm" novalidate>

              <h4 class="p-2">Notes</h4>
              <textarea name="notes" rows="6" class="form-control" formControlName="notes"></textarea>

              <h4 class="mt-2">Update capacity:</h4>

              <div class="form-group">
                <label for="maxCapacity"></label>
                <select id="maxCapacity" class="custom-select" formControlName="maxCapacity">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>

                <h4 class="mt-2">Add person:</h4>
                Coming soon...
                <h4 class="mt-2">Add computer:</h4>
                Coming soon...

                <div *ngIf="form.controls['maxCapacity'].errors && !form.controls['maxCapacity'].pristine" class="error-msg">
                  <div class="alert alert-danger" role="alert" [hidden]="!form.controls['maxCapacity'].errors.required">Please
                    select a capacity.
                  </div>
                </div>
              </div>

            </form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
