
<div class="container mt-4" >
    Pick a time interval in order to see the room allocations:
    <div class="col-xs-12 col-12 col-md-4 mt-2 form-group">
      <input type="text"
             placeholder="DateTime Picker"
             class="form-control"
             bsDaterangepicker
             [bsConfig]="{ rangeInputFormat: 'DD-MM-YYYY' }"
             (bsValueChange)="onValueChange($event)"
             >
    </div>
  </div>
  
   <div class="container" >
     <div *ngFor="let room of this.data; let i = index" [attr.data-index]="i">
  
      <div class="d-inline">
          {{room.room_number}}:     
          <button type="button" class="btn btn-outline-primary">
              <i class="fa fa-desktop fa"></i>
              <span class="badge badge-light ml-2">5</span>
            </button>
  
      </div>
  
      <ul class="list-inline member-icons animate text-center mt-2">
        <div class="progress mb-2" style="height: 30px;">
            <div *ngFor="let segment of room.segments; let seg_index = index" [attr.data-index]="seg_index" [ngClass]="getClass(segment)" 
            [tooltip]="getTooltipData(segment)" role="progressbar" 
            [ngStyle]="{'width': ((segment.end * 100)/ number_of_days) - ((segment.start * 100)/ number_of_days) + '%'}"> 
              {{segment.occupants.length}} occupants
              {{segment.occupants.forenames}}  
            </div>
        </div>
      </ul>
  </div>
  </div>
  
  
  