<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container mt-2">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">404</span>
        <div class="mb-4 lead">The page you are looking for was not found.</div>
                <div class="error-actions">
          <a [routerLink]="['/']" class="btn btn-primary btn-lg"><i class="fa fa-home fa"></i>
            Take Me Home </a>
          <a href="mailto:help@maths.cam.ac.uk" class="btn btn-default btn-lg"><i class="fa fa-envelope fa"></i> Contact Support </a>
        </div>
      </div>
    </div>
  </div>
</div>